body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #007BFF;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
}

p {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

h4 {
    margin-top: 20px;
    color: #007BFF;
}

h5 {
    text-align: center;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
